@using BalekShop.Models;
@model List<BookCart>;
@{
	Layout = "_StoreLayout";
	var totalPrice = 0;
	foreach (var item in Model)
	{
		totalPrice += item.Book.Price * item.Amount;
	}

}
@using BalekShop.Repositories.Language;
@inject LanguageService language;



<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="colored">
					<h1 class="page-title">Cart</h1>
					<h4>@language.Getkey("total-price") = @totalPrice₺</h4>
					@if (TempData["msg"] != null)
					{
						<div class="form-group">
							@TempData["msg"]
						</div>
					}
					<button type="submit">@language.Getkey("order-and-pay")</button>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="padding-large">
	<div class="container">
		<div class="row">

			<div class="products-grid grid">
				
				@foreach (var item in Model)
				{
					<figure class="product-style">
						<img src="@item.Book.BookImage" alt="Books" class="product-item">
					<form asp-action="DeleteBook" asp-route-id="@item.Book.Id">
							<button type="submit" class="add-to-cart" data-product-tile="add-to-cart">@language.Getkey("delete")</button>
					</form>
						<figcaption>
							<h3>@item.Book.Title</h3>
							<p>@item.Book.AuthorName</p>
							<div class="item-price"> @item.Book.Price x @item.Amount =
								@(item.Book.Price * item.Amount)₺
							</div>
							<div class="item-price">@language.Getkey("amount"): @item.Amount</div>
						</figcaption>
					</figure>
				}
			</div>			
		</div>
	</div>
</section>