@using BalekShop.Repositories.Language;
@model IEnumerable<BalekShop.Models.Domain.Book>
@inject LanguageService language;
@{
	Layout = "_StoreLayout";
	var username = ViewBag.username;
}

<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="colored">					
					@if (TempData["msg"] != null)
					{
						<h4>System Message: @TempData["msg"] </h4>												
					}
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="accordion-body">
	<div class="container">
		<div class="row">

			<div class="products-grid grid">
				
				@foreach (var item in Model)
				{
					<figure class="product-style">
						<img src="@item.BookImage" alt="Books" class="product-item">
					<form asp-action="AddCart" asp-route-id="@item.Id">
							<button type="submit" class="add-to-cart" data-product-tile="add-to-cart">@language.Getkey("add-to-cart")</button>
					</form>
						<figcaption>
							<h3>@item.Title</h3>
							<p>@item.AuthorName</p>
							<div class="item-price">@language.Getkey("price"): @item.Price,00₺</div>
						</figcaption>
					</figure>
				}
			</div>
		</div>
	</div>
</section>



