@using BalekShop.Repositories.Language;
@model IEnumerable<Book>
@inject LanguageService language;
@{
	Layout = "_StoreLayout";
	var username = ViewBag.username;
	string? message = null;
	string? welcomeMessage = null;

	if (TempData["msg"] != null)
	{
		if (TempData["msg"]?.ToString() == "welcome")
		{
			if (User.IsInRole("Admin"))
			{
				welcomeMessage += " ("+language.Getkey("admin")+") " ;				
			}

			welcomeMessage += User.Identity?.Name;
		}
		message = TempData["msg"]?.ToString();
	}
}

<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="colored">					
					@if (message != null)
					{
						<h4>@language.Getkey(message) @welcomeMessage</h4>
					}
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="accordion-body">
	<div class="container">
		<div class="row">

			<div class="products-grid grid">
				
				@foreach (var item in Model)
				{
					<figure class="product-style">
						<img src="@item.BookImage" alt="Books" class="product-item">
					<form asp-action="AddCart" asp-route-id="@item.Id">
							<button type="submit" class="add-to-cart" data-product-tile="add-to-cart">@language.Getkey("add-to-cart")</button>
					</form>
						<figcaption>
							<h3>@item.Title</h3>
							<p>@item.AuthorName</p>
							<div class="item-price">@language.Getkey("price"): @item.Price,00₺</div>
						</figcaption>
					</figure>
				}
			</div>
		</div>
	</div>
</section>



