@model IEnumerable<BalekShop.Models.Domain.Book>
@{
	Layout = "_StoreLayout";
	var username = ViewBag.username;
}


<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="colored">
					<h1 class="page-title">						
						Store
					</h1>
					@if (username != null)
					{
						<h4>Welcome @username</h4>
					}					
					@if (TempData["msg"] != null)
					{
						<div class="form-group">
							System Message: @TempData["msg"]
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="padding-large">
	<div class="container">
		<div class="row">

			<div class="products-grid grid">
				
				@foreach (var item in Model)
				{
					<figure class="product-style">
						<img src="@item.BookImage" alt="Books" class="product-item">
					<form asp-action="AddCart" asp-route-id="@item.Id">
						<button type="submit" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
					</form>
						<figcaption>
							<h3>@item.Title</h3>
							<p>@item.AuthorName</p>
							<div class="item-price">@item.Price,00₺</div>
						</figcaption>
					</figure>
				}
			</div>
		</div>
	</div>
</section>



