@using BalekShop.Repositories.Language;
@model IEnumerable<BalekShop.Models.Domain.Publisher>
@{
}
@inject LanguageService language;

<div class="container pt-3">    
    <div class="row">
        <div class="col-md-4">
            <h3>@language.Getkey("publisher")</h3>
            <table  class="table table-stripped table-bordered table-light">
                <thead>
                    <tr>
                        <th>@language.Getkey("edit")</th>
                        <th>@language.Getkey("publisher") @language.Getkey("name")</th>
                        <th>@language.Getkey("delete")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>
                            <a class="btn btn-primary" href="/Publisher/Update?id=@item.Id"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>@item.PublisherName</td>
                        <td>                                
                            <a class="btn btn-outline-danger" onclick="return window.confirm('Are you sure?')" href="/Publisher/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success" href="/Publisher/Add">@language.Getkey("new") @language.Getkey("publisher")</a>
        </div>
    </div>
</div>

