@using BalekShop.Repositories.Language;
@model IEnumerable<Book>
@{
}
@inject LanguageService language;

<div class="container pt-3">   
    <div class="row">
        <div class="col-md-12">
            <h3>@language.Getkey("book")</h3>

            <table  class="table table-stripped table-bordered ">
                <thead>
                    <tr>
                        <th>@language.Getkey("edit")</th>
                        <th>@language.Getkey("image")</th>
                        <th>@language.Getkey("title")</th>
                        <th>@language.Getkey("author")</th>
                        <th>@language.Getkey("price")</th>
                        <th>@language.Getkey("publisher")</th>
                        <th>ISBN</th>
                        <th>@language.Getkey("genre")</th>
                        <th>@language.Getkey("total-pages")</th>
                        <th>@language.Getkey("delete")</th>                        
                    </tr>
                </thead>
                <tbody>                    
                    @foreach(var item in Model){
                    <tr>
                        <td>
                                <a class="btn btn-primary" href="/Book/Update?id=@item.Id"><i class="bi bi-pencil-square"></i></a>
                        </td>
                            <td> <a class="btn btn-outline-warning" href="@item.BookImage"><i class="bi bi-image"></i></a></td>
                            <td>@item.Title</td>
                            <td>@item.AuthorName</td>
                            <td>@item.Price ₺</td>
                            <td>@item.PublisherName</td>                            
                            <td>@item.Isbn</td>
                            <td>@item.GenreName</td>
                            <td>@item.TotalPages</td>                                                        
                        <td>                                 
                            <a class="btn btn-outline-danger" onclick="return window.confirm('Are you sure?')" href="/Book/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="/Book/Add">@language.Getkey("new") @language.Getkey("book")</a>
        </div>
    </div>
</div>

